<div id="<%= dom_id todo_with_confirm %>">
  <p>
    <strong>Body:</strong>
    <%= todo_with_confirm.body %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= todo_with_confirm.finished %>
  </p>

</div>
