<div id="<%= dom_id todo_with_please %>">
  <p>
    <strong>Body:</strong>
    <%= todo_with_please.body %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= todo_with_please.finished %>
  </p>

</div>
