<h1>Editing todo with blob</h1>

<%= render "form", todo_with_blob: @todo_with_blob %>

<br>

<div>
  <%= link_to "Show this todo with blob", @todo_with_blob %> |
  <%= link_to "Back to todo with blobs", todo_with_blobs_path %>
</div>
