<h1>Editing todo with sig</h1>

<%= render "form", todo_with_sig: @todo_with_sig %>

<br>

<div>
  <%= link_to "Show this todo with sig", @todo_with_sig %> |
  <%= link_to "Back to todo with sigs", todo_with_sigs_path %>
</div>
